body {
  margin: 0;
  border: 0;
  background-color: #444B55;
}
.App {
  text-align: center; 
  height: 550px;    
}

.App-header {  
  min-height: 10%;  
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(14px + 2vmin);
  color: #61dafb;
}

.App-link {
  color: #61dafb;
}

.Section {  
  font-size: calc(10px + 2vmin); 
  min-height: 50%;      
}
.quote {
  background-color: #8199A3;
  margin: 20px;
  border-radius: 7px;
}
/* .favorite {
  columns: 2 500px;
} */

h2 {
  background:#E1B493; 
  padding: 10px;
  color: #fff;
  margin: 20px;
  border-radius: 20px;
  column-span: all;
}
button {
  background-color: #B5AFA1;
  border-radius: 5px;
  font-size: calc(7px + 1vmin);  
  margin: 0.5rem;
}
/* 
ul {
  text-align: bottom;   
} */

li {    
  background-color: #8199A3;
  border-radius: 10px;  
  margin: 15px;  
  text-align: center;  
}

.Footer {
  min-height: 10%;
  color: #61dafb;
}