body {
  margin: 0;
  border: 0;
  background-color: #444B55;
}
.App {
  text-align: center; 
  max-width: 800px;   
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto; 
}

.App-header {    
  font-size: calc(14px + 2vmin);
  color: #61dafb;
  border: #61dafb solid 2px;
  border-radius: 20px;
  margin-top:20px;
}

.App-link {
  color: #61dafb;
}

.Section {  
  font-size: calc(10px + 2vmin);   
}

.quote {
  background-color: #8199A3;
  margin: 20px;
  border-radius: 7px;
}

h2 {
  background:#E1B493; 
  padding: 10px;
  color: #fff;
  margin: 20px;
  border-radius: 20px;
  column-span: all;
}
button {
  background-color: #B5AFA1;
  border-radius: 5px;
  font-size: calc(7px + 1vmin);  
  margin: 0.5rem;
}

li {    
  background-color: #8199A3;
  border-radius: 10px;  
  margin: 15px;  
  text-align: center;  
  font-weight: 500;
}

.Footer {
  min-height: 10%;
  color: #61dafb;  
}

.Footer p{
  border: #61dafb solid 2px;
  border-radius: 20px;
  padding: 5px 0;  
}
.icons {
  display: flex;
  justify-content: space-evenly;  
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;    
}

img{
  width: 50px;  
}

img:hover {
  transform: rotate(25deg);
  transition-duration: 300ms; 
}


@media screen and (min-width: 321px) and (max-width: 767px) {
  .App {        
    max-width: 90%;       
  }
  
  .App-header {      
    font-size: calc(12px + 2vmin);    
    margin-top:10px;
  }
  
  .Section {  
    font-size: calc(10px + 1vmin);    
  }

  .quote {    
    margin: 10px;
    border-radius: 5px;
  }  
  
  h2 {   
    padding: 5px;    
    margin: 13px;
    border-radius: 10px;    
  }
 
  li {    
    background-color: #8199A3;
    border-radius: 10px;  
    margin: 10px;      
  }   
  
  img{
    width: 30px;  
  }
}



@media screen and  (max-width: 320px) {
  .App {        
    max-width: 95%;       
  }
  
  .App-header {      
    font-size: 16px;    
    margin-top:10px;
  }
  
  .Section {  
    font-size: 14px;    
  }
  .quote {    
    margin: 7px;
    border-radius: 5px;
  }  
  
  h2 {   
    padding: 2px;    
    margin: 7px;      
  }    
  
  .icons {    
    max-width: 80%;      
  }

  img{
    width: 25px;  
  }

  .Footer p{   
    border-radius: 10px;
    padding: 2px 0;    
  }
}


