body {
  margin: 0;
  border: 0;
}
.App {
  text-align: center;    
}

.App-header {
  background-color: #ec8805;  
  min-height: 10%;  
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Section {
  min-height: 40%;  
  background-color: #237a1b; 
  font-size: calc(10px + 2vmin);
  color: burlywood;     
}

button {
  margin: 0.5rem;
}

ul {
  text-align: left;  
}

li {    
  background-color: rgb(5, 37, 11);  
}

.Footer {
  min-height: 10%;
  background-color: #1b3b7a;
}